.screen_wrapper.effect7
  .screen
    %table
      %tbody
        -@posts.each do |p|
          %tr
            %td
              %h2.username.shadow
                =p.user
              .timestamp
                %i.fa.fa-clock-o
                %strong=p.created_at.strftime("%-d/%b/%y @ %I:%M%p")
            %td
              .message.bubble
                =p.message
.poster_wrapper
  .poster
    %table
      %tbody
        %tr
          %td

