%input#last_message_id{:name => "last_message_id", :type => "hidden", :value => @lastid}/
.screen_wrapper.effect7
  .screen
    %table#table
      %tbody
        -@posts.each do |p|
          %tr
            %td.name_column
              %h2.username.shadow
                =p.user
              .timestamp
                %i.fa.fa-clock-o
                %strong=p.created_at.strftime("%-d/%b/%y @ %I:%M%p")
            %td
              .message.bubble
                =p.message
.poster_wrapper.effect7
  .poster.container
    %form.form-inline{:role => "form"}
      %input.name.form-control.vcenter{:placeholder => "Name", :type => "text", :style => "width: 120px"}
      %textarea.message_text.form-control.vcenter{:placeholder => "Message", :rows => "3", :style => "width: 420px"}
      %button.btn.btn-default.submit.vcenter{:type => "submit"}SEND
