
.screen_wrapper {
  overflow: scroll;
  width: 640px;
  margin:auto;
  padding:0px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.screen {
  background-color: #f3f4f5;
}

.username {
  margin-top: 6px;
  color: white;
}

.timestamp {
  color: #BBBBBB;
  margin-top: -20px;
  font-size: xx-small;
}

.bubble
{
  position: relative;
  width: 350px;
  height: auto;
  padding: 12px;
  background: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: #000000 solid 1px;
  margin-left: 20px;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 15px 12px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -12px;
  left: -13px;
  top: 50%;
}

.bubble:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 13px 16px 13px 0;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -13px;
  left: -15px;
  top: 50%;
}
.effect7
{
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:20px;
  right:20px;
  border-radius:100px / 10px;
}
.effect7:after
{
  right:20px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}