
.screen_wrapper {
  overflow: scroll;
  width: 640px;
  margin:auto;
  padding:0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: #f3f4f5;
}

.vcenter {
  display: inline-block;
  vertical-align: top;
  float: none;
}

.name {
  width: 120px;
}

.message {
  width: 420px;
}

.submit {
  font-size: large;
}

.poster {
  background-color: #f3f4f5;
  padding: 4px;
}

.poster_wrapper {
  overflow: hidden;
  width: 640px;
  margin: 10px auto 0;
  padding:0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.screen {
  background-color: #f3f4f5;
  padding: 4px;
}


.username {
  margin-top: 6px;
  color: white;
}

.timestamp {
  color: #BBBBBB;
  margin-top: -20px;
  font-size: xx-small;
}

.name_column{
  width:150px;
}

.bubble
{
  position: relative;
  width: 450px;
  height: auto;
  padding: 12px;
  background: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: #000000 solid 1px;
  margin-left: 20px;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 15px 12px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -12px;
  left: -13px;
  top: 50%;
}

.bubble:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 13px 16px 13px 0;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -13px;
  left: -15px;
  top: 50%;
}

.effect7 {
  -webkit-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.75);
}